<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>enermy0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {138, 110}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{138, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 896}, {138, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 109}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 109}</string>
			<key>spriteSourceSize</key>
			<string>{150, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{693, 684}, {140, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 110}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{806, 429}, {140, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {144, 110}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{144, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 540}, {144, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {138, 110}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{138, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{947, 572}, {138, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 109}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 109}</string>
			<key>spriteSourceSize</key>
			<string>{150, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{550, 818}, {140, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 110}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 288}, {140, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {146, 110}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{146, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 541}, {146, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 110}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 785}, {140, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {144, 110}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{144, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 428}, {144, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {138, 110}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{138, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 897}, {138, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 109}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 109}</string>
			<key>spriteSourceSize</key>
			<string>{150, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 785}, {140, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 110}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 293}, {140, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {146, 110}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{146, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 429}, {146, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {138, 110}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{138, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 897}, {138, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 109}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 109}</string>
			<key>spriteSourceSize</key>
			<string>{150, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 785}, {140, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {122, 141}}</string>
			<key>spriteOffset</key>
			<string>{-2, -4}</string>
			<key>spriteSize</key>
			<string>{122, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{682, 400}, {122, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {130, 139}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{130, 139}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{693, 543}, {130, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {138, 135}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{138, 135}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 292}, {138, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {130, 139}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{130, 139}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1348, 0}, {130, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {122, 141}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{122, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{860, 0}, {122, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {130, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{130, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{671, 145}, {130, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {140, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{140, 133}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{551, 548}, {140, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {130, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{130, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{803, 143}, {130, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 14}, {138, 135}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{138, 135}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 155}, {138, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {130, 139}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{130, 139}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1186, 286}, {130, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {122, 141}}</string>
			<key>spriteOffset</key>
			<string>{-2, -4}</string>
			<key>spriteSize</key>
			<string>{122, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{940, 286}, {122, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 9}, {130, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{130, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{550, 405}, {130, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {140, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{140, 133}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{551, 683}, {140, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 9}, {130, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{130, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{728, 0}, {130, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {122, 141}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{122, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{816, 286}, {122, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {130, 139}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{130, 139}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1303, 143}, {130, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 137}}</string>
			<key>spriteOffset</key>
			<string>{5, 2}</string>
			<key>spriteSize</key>
			<string>{120, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{550, 929}, {120, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 1}, {116, 139}}</string>
			<key>spriteOffset</key>
			<string>{6, 1}</string>
			<key>spriteSize</key>
			<string>{116, 139}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{814, 823}, {116, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 141}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{825, 541}, {120, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {122, 141}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{122, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{984, 0}, {122, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 1}, {118, 144}}</string>
			<key>spriteOffset</key>
			<string>{6, 1}</string>
			<key>spriteSize</key>
			<string>{118, 144}</string>
			<key>spriteSourceSize</key>
			<string>{130, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 599}, {118, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 1}, {116, 146}}</string>
			<key>spriteOffset</key>
			<string>{7, -0}</string>
			<key>spriteSize</key>
			<string>{116, 146}</string>
			<key>spriteSourceSize</key>
			<string>{130, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 0}, {116, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {122, 137}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{122, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 1009}, {122, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {120, 139}}</string>
			<key>spriteOffset</key>
			<string>{5, -2}</string>
			<key>spriteSize</key>
			<string>{120, 139}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1148}, {120, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 4}, {116, 139}}</string>
			<key>spriteOffset</key>
			<string>{6, -2}</string>
			<key>spriteSize</key>
			<string>{116, 139}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1289}, {116, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 141}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1064, 286}, {120, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {122, 141}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{122, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{935, 143}, {122, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {116, 141}}</string>
			<key>spriteOffset</key>
			<string>{7, 1}</string>
			<key>spriteSize</key>
			<string>{116, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1070, 429}, {116, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 3}, {118, 144}}</string>
			<key>spriteOffset</key>
			<string>{6, -1}</string>
			<key>spriteSize</key>
			<string>{118, 144}</string>
			<key>spriteSourceSize</key>
			<string>{130, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 262}, {118, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {116, 146}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{116, 146}</string>
			<key>spriteSourceSize</key>
			<string>{130, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 451}, {116, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {120, 137}}</string>
			<key>spriteOffset</key>
			<string>{5, -2}</string>
			<key>spriteSize</key>
			<string>{120, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 1035}, {120, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {116, 141}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{116, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1230, 0}, {116, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {120, 137}}</string>
			<key>spriteOffset</key>
			<string>{5, -3}</string>
			<key>spriteSize</key>
			<string>{120, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 1148}, {120, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {120, 141}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{120, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{948, 429}, {120, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 141}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1108, 0}, {120, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {116, 146}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{116, 146}</string>
			<key>spriteSourceSize</key>
			<string>{130, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 303}, {116, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {120, 143}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 143}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 0}, {120, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 137}}</string>
			<key>spriteOffset</key>
			<string>{5, 2}</string>
			<key>spriteSize</key>
			<string>{120, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 1287}, {120, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {120, 141}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{120, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1059, 143}, {120, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 141}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1181, 143}, {120, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {116, 146}}</string>
			<key>spriteOffset</key>
			<string>{7, 1}</string>
			<key>spriteSize</key>
			<string>{116, 146}</string>
			<key>spriteSourceSize</key>
			<string>{130, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488, 0}, {116, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {120, 143}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 143}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{549, 148}, {120, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {122, 137}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{122, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 686}, {122, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 139}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{120, 139}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 1009}, {120, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {120, 137}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{120, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{692, 818}, {120, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {128, 148}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{128, 148}</string>
			<key>spriteSourceSize</key>
			<string>{140, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 153}, {128, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 1}, {132, 151}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{132, 151}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 0}, {132, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {128, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{128, 137}</string>
			<key>spriteSourceSize</key>
			<string>{140, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 896}, {128, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {126, 151}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{126, 151}</string>
			<key>spriteSourceSize</key>
			<string>{140, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 153}, {126, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 1}, {112, 153}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{112, 153}</string>
			<key>spriteSourceSize</key>
			<string>{140, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {112, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 3}, {120, 151}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{120, 151}</string>
			<key>spriteSourceSize</key>
			<string>{140, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 0}, {120, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {122, 137}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{122, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{835, 684}, {122, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {122, 137}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{122, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1009}, {122, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 549}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {142, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{142, 130}</string>
			<key>spriteSourceSize</key>
			<string>{142, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 653}, {142, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{152, 120}</string>
			<key>spriteSourceSize</key>
			<string>{152, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 306}, {152, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {149, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{149, 112}</string>
			<key>spriteSourceSize</key>
			<string>{149, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 148}, {149, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {141, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{141, 130}</string>
			<key>spriteSourceSize</key>
			<string>{141, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 653}, {141, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{136, 139}</string>
			<key>spriteSourceSize</key>
			<string>{136, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 408}, {136, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 137}}</string>
			<key>spriteOffset</key>
			<string>{5, 2}</string>
			<key>spriteSize</key>
			<string>{120, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 1150}, {120, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>all_character</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>all_character_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>all_character_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>