<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>pokerSoilder0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 7}, {166, 277}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{166, 277}</string>
			<key>spriteSourceSize</key>
			<string>{180, 289}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {166, 277}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pokerSoilder1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {166, 275}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{166, 275}</string>
			<key>spriteSourceSize</key>
			<string>{180, 289}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 277}, {166, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pokerSoilder2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 8}, {158, 275}}</string>
			<key>spriteOffset</key>
			<string>{11, -1}</string>
			<key>spriteSize</key>
			<string>{158, 275}</string>
			<key>spriteSourceSize</key>
			<string>{180, 289}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 556}, {158, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pokerSoilder3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 8}, {158, 275}}</string>
			<key>spriteOffset</key>
			<string>{11, -1}</string>
			<key>spriteSize</key>
			<string>{158, 275}</string>
			<key>spriteSourceSize</key>
			<string>{180, 289}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 554}, {158, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pokerSoilder4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 10}, {156, 273}}</string>
			<key>spriteOffset</key>
			<string>{12, -2}</string>
			<key>spriteSize</key>
			<string>{156, 273}</string>
			<key>spriteSourceSize</key>
			<string>{180, 289}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 0}, {156, 273}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pokerSoilder5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 11}, {150, 273}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{150, 273}</string>
			<key>spriteSourceSize</key>
			<string>{180, 289}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 0}, {150, 273}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pokerSoilder6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 10}, {156, 273}}</string>
			<key>spriteOffset</key>
			<string>{12, -2}</string>
			<key>spriteSize</key>
			<string>{156, 273}</string>
			<key>spriteSourceSize</key>
			<string>{180, 289}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 275}, {156, 273}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pokerSoilder7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 8}, {158, 275}}</string>
			<key>spriteOffset</key>
			<string>{11, -1}</string>
			<key>spriteSize</key>
			<string>{158, 275}</string>
			<key>spriteSourceSize</key>
			<string>{180, 289}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 279}, {158, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pokerSoilder8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 8}, {158, 275}}</string>
			<key>spriteOffset</key>
			<string>{11, -1}</string>
			<key>spriteSize</key>
			<string>{158, 275}</string>
			<key>spriteSourceSize</key>
			<string>{180, 289}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 554}, {158, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pokerSoilder9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 8}, {166, 275}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{166, 275}</string>
			<key>spriteSourceSize</key>
			<string>{180, 289}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 0}, {166, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>pokerSoilder</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>pokerSoilder_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>pokerSoilder_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>