<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>01.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>137</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>02.png</key>
		<dict>
			<key>x</key>
			<integer>121</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>03.png</key>
		<dict>
			<key>x</key>
			<integer>237</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>04.png</key>
		<dict>
			<key>x</key>
			<integer>356</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>05.png</key>
		<dict>
			<key>x</key>
			<integer>476</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>06.png</key>
		<dict>
			<key>x</key>
			<integer>595</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
		<key>07.png</key>
		<dict>
			<key>x</key>
			<integer>711</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>142</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>08.png</key>
		<dict>
			<key>x</key>
			<integer>830</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>09.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>154</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>10.png</key>
		<dict>
			<key>x</key>
			<integer>121</integer>
			<key>y</key>
			<integer>155</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>11.png</key>
		<dict>
			<key>x</key>
			<integer>237</integer>
			<key>y</key>
			<integer>151</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>12.png</key>
		<dict>
			<key>x</key>
			<integer>356</integer>
			<key>y</key>
			<integer>151</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>13.png</key>
		<dict>
			<key>x</key>
			<integer>477</integer>
			<key>y</key>
			<integer>148</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
		<key>14.png</key>
		<dict>
			<key>x</key>
			<integer>595</integer>
			<key>y</key>
			<integer>147</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
		<key>15.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>310</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>137</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>16.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>306</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>17.png</key>
		<dict>
			<key>x</key>
			<integer>236</integer>
			<key>y</key>
			<integer>310</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>18.png</key>
		<dict>
			<key>x</key>
			<integer>355</integer>
			<key>y</key>
			<integer>306</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>19.png</key>
		<dict>
			<key>x</key>
			<integer>475</integer>
			<key>y</key>
			<integer>305</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>20.png</key>
		<dict>
			<key>x</key>
			<integer>594</integer>
			<key>y</key>
			<integer>300</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
		<key>21.png</key>
		<dict>
			<key>x</key>
			<integer>710</integer>
			<key>y</key>
			<integer>304</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>142</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>22.png</key>
		<dict>
			<key>x</key>
			<integer>829</integer>
			<key>y</key>
			<integer>310</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>23.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>453</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>24.png</key>
		<dict>
			<key>x</key>
			<integer>119</integer>
			<key>y</key>
			<integer>452</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>25.png</key>
		<dict>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>449</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>26.png</key>
		<dict>
			<key>x</key>
			<integer>354</integer>
			<key>y</key>
			<integer>449</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>27.png</key>
		<dict>
			<key>x</key>
			<integer>475</integer>
			<key>y</key>
			<integer>446</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
		<key>28.png</key>
		<dict>
			<key>x</key>
			<integer>593</integer>
			<key>y</key>
			<integer>446</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
	</dict>
</dict>
</plist>