<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>dead1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 118}</string>
			<key>spriteSourceSize</key>
			<string>{150, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 669}, {150, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 118}</string>
			<key>spriteSourceSize</key>
			<string>{150, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 148}, {150, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 118}</string>
			<key>spriteSourceSize</key>
			<string>{150, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{530, 294}, {150, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 118}</string>
			<key>spriteSourceSize</key>
			<string>{150, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 549}, {150, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 118}</string>
			<key>spriteSourceSize</key>
			<string>{150, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 416}, {150, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 118}</string>
			<key>spriteSourceSize</key>
			<string>{150, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{682, 291}, {150, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 118}</string>
			<key>spriteSourceSize</key>
			<string>{150, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 429}, {150, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {142, 118}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{142, 118}</string>
			<key>spriteSourceSize</key>
			<string>{150, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{834, 286}, {142, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dead9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {110, 112}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{110, 112}</string>
			<key>spriteSourceSize</key>
			<string>{150, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 286}, {110, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {138, 110}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{138, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 1033}, {138, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 109}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 109}</string>
			<key>spriteSourceSize</key>
			<string>{150, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 882}, {140, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 110}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 799}, {140, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {144, 110}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{144, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 650}, {144, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {138, 110}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{138, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1144}, {138, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 109}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 109}</string>
			<key>spriteSourceSize</key>
			<string>{150, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 993}, {140, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 110}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{705, 695}, {140, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {146, 110}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{146, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 789}, {146, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 110}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 762}, {140, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {144, 110}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{144, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 810}, {144, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {138, 110}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{138, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 1145}, {138, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 109}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 109}</string>
			<key>spriteSourceSize</key>
			<string>{150, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1033}, {140, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 110}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 698}, {140, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {146, 110}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{146, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{567, 555}, {146, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {138, 110}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{138, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 911}, {138, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enermy9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {140, 109}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{140, 109}</string>
			<key>spriteSourceSize</key>
			<string>{150, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 922}, {140, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {122, 141}}</string>
			<key>spriteOffset</key>
			<string>{-2, -4}</string>
			<key>spriteSize</key>
			<string>{122, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{847, 549}, {122, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {130, 139}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{130, 139}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1393}, {130, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {138, 135}}</string>
			<key>spriteOffset</key>
			<string>{1, 5}</string>
			<key>spriteSize</key>
			<string>{138, 135}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 155}, {138, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {130, 139}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{130, 139}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 1257}, {130, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {122, 141}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{122, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{838, 406}, {122, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {130, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{130, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{706, 411}, {130, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {140, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{140, 133}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 563}, {140, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {130, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{130, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 143}, {130, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 14}, {138, 135}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{138, 135}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 292}, {138, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {130, 139}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{130, 139}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 1145}, {130, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {122, 141}}</string>
			<key>spriteOffset</key>
			<string>{-2, -4}</string>
			<key>spriteSize</key>
			<string>{122, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{990, 0}, {122, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 9}, {130, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{130, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{858, 0}, {130, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {140, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{140, 133}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 428}, {140, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 9}, {130, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{130, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{726, 0}, {130, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {122, 141}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{122, 141}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{824, 807}, {122, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>green_monster9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {130, 139}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{130, 139}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{715, 554}, {130, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 137}}</string>
			<key>spriteOffset</key>
			<string>{5, 2}</string>
			<key>spriteSize</key>
			<string>{120, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{682, 1089}, {120, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 1}, {116, 139}}</string>
			<key>spriteOffset</key>
			<string>{6, 1}</string>
			<key>spriteSize</key>
			<string>{116, 139}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{944, 970}, {116, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 141}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 406}, {120, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {122, 141}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{122, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{924, 143}, {122, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 1}, {118, 144}}</string>
			<key>spriteOffset</key>
			<string>{6, 1}</string>
			<key>spriteSize</key>
			<string>{118, 144}</string>
			<key>spriteSourceSize</key>
			<string>{130, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{550, 148}, {118, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 1}, {116, 146}}</string>
			<key>spriteOffset</key>
			<string>{7, -0}</string>
			<key>spriteSize</key>
			<string>{116, 146}</string>
			<key>spriteSourceSize</key>
			<string>{130, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 303}, {116, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {122, 137}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{122, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{698, 950}, {122, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {120, 139}}</string>
			<key>spriteOffset</key>
			<string>{5, -2}</string>
			<key>spriteSize</key>
			<string>{120, 139}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1170, 143}, {120, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 4}, {116, 139}}</string>
			<key>spriteOffset</key>
			<string>{6, -2}</string>
			<key>spriteSize</key>
			<string>{116, 139}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{534, 1162}, {116, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 141}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 739}, {120, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {122, 141}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{122, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{700, 807}, {122, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {116, 141}}</string>
			<key>spriteOffset</key>
			<string>{7, 1}</string>
			<key>spriteSize</key>
			<string>{116, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1084, 400}, {116, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 3}, {118, 144}}</string>
			<key>spriteOffset</key>
			<string>{6, -1}</string>
			<key>spriteSize</key>
			<string>{118, 144}</string>
			<key>spriteSourceSize</key>
			<string>{130, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 0}, {118, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {116, 146}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{116, 146}</string>
			<key>spriteSourceSize</key>
			<string>{130, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 268}, {116, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {120, 137}}</string>
			<key>spriteOffset</key>
			<string>{5, -2}</string>
			<key>spriteSize</key>
			<string>{120, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 1156}, {120, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {116, 141}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{116, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{971, 549}, {116, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 6}, {120, 137}}</string>
			<key>spriteOffset</key>
			<string>{5, -3}</string>
			<key>spriteSize</key>
			<string>{120, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{269, 1286}, {120, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {120, 141}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{120, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1114, 0}, {120, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 141}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 596}, {120, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {116, 146}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{116, 146}</string>
			<key>spriteSourceSize</key>
			<string>{130, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488, 0}, {116, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {120, 143}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 143}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{670, 146}, {120, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 137}}</string>
			<key>spriteOffset</key>
			<string>{5, 2}</string>
			<key>spriteSize</key>
			<string>{120, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 950}, {120, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {120, 141}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{120, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 874}, {120, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 141}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 141}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1048, 143}, {120, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {116, 146}}</string>
			<key>spriteOffset</key>
			<string>{7, 1}</string>
			<key>spriteSize</key>
			<string>{116, 146}</string>
			<key>spriteSourceSize</key>
			<string>{130, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 0}, {116, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {120, 143}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{120, 143}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 451}, {120, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {122, 137}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{122, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{948, 692}, {122, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>joker9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 139}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{120, 139}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1236, 0}, {120, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {120, 137}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{120, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 1398}, {120, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {128, 148}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{128, 148}</string>
			<key>spriteSourceSize</key>
			<string>{140, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 153}, {128, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 1}, {132, 151}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{132, 151}</string>
			<key>spriteSourceSize</key>
			<string>{140, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 0}, {132, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 1}, {128, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{128, 137}</string>
			<key>spriteSourceSize</key>
			<string>{140, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 1017}, {128, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {126, 151}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{126, 151}</string>
			<key>spriteSourceSize</key>
			<string>{140, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 153}, {126, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 1}, {112, 153}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{112, 153}</string>
			<key>spriteSourceSize</key>
			<string>{140, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {112, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 3}, {120, 151}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{120, 151}</string>
			<key>spriteSourceSize</key>
			<string>{140, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 0}, {120, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {122, 137}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{122, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{948, 831}, {122, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {122, 137}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{122, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 1023}, {122, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1256}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {142, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{142, 130}</string>
			<key>spriteSourceSize</key>
			<string>{142, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 901}, {142, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{152, 120}</string>
			<key>spriteSourceSize</key>
			<string>{152, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 306}, {152, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {149, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{149, 112}</string>
			<key>spriteSourceSize</key>
			<string>{149, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 536}, {149, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {141, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{141, 130}</string>
			<key>spriteSourceSize</key>
			<string>{141, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{562, 667}, {141, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{136, 139}</string>
			<key>spriteSourceSize</key>
			<string>{136, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{568, 414}, {136, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jumpd8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {120, 137}}</string>
			<key>spriteOffset</key>
			<string>{5, 2}</string>
			<key>spriteSize</key>
			<string>{120, 137}</string>
			<key>spriteSourceSize</key>
			<string>{130, 143}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1534}, {120, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>all_character</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>all_character_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>all_character_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>