<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>piranha0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 140}, {93, 24}}</string>
			<key>spriteOffset</key>
			<string>{-1, -70}</string>
			<key>spriteSize</key>
			<string>{93, 24}</string>
			<key>spriteSourceSize</key>
			<string>{137, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 486}, {93, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>piranha1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 104}, {109, 60}}</string>
			<key>spriteOffset</key>
			<string>{-1, -52}</string>
			<key>spriteSize</key>
			<string>{109, 60}</string>
			<key>spriteSourceSize</key>
			<string>{137, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{139, 270}, {109, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>piranha10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 104}, {109, 60}}</string>
			<key>spriteOffset</key>
			<string>{-1, -52}</string>
			<key>spriteSize</key>
			<string>{109, 60}</string>
			<key>spriteSourceSize</key>
			<string>{137, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{139, 208}, {109, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>piranha2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 62}, {111, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -31}</string>
			<key>spriteSize</key>
			<string>{111, 102}</string>
			<key>spriteSourceSize</key>
			<string>{137, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{139, 104}, {111, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>piranha3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 30}, {137, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -15}</string>
			<key>spriteSize</key>
			<string>{137, 134}</string>
			<key>spriteSourceSize</key>
			<string>{137, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 136}, {137, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>piranha4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 164}</string>
			<key>spriteSourceSize</key>
			<string>{137, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 166}, {137, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>piranha5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 12}, {133, 152}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{133, 152}</string>
			<key>spriteSourceSize</key>
			<string>{137, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{135, 332}, {133, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>piranha6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {137, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{137, 164}</string>
			<key>spriteSourceSize</key>
			<string>{137, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {137, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>piranha7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 12}, {133, 152}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{133, 152}</string>
			<key>spriteSourceSize</key>
			<string>{137, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 332}, {133, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>piranha8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 30}, {137, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -15}</string>
			<key>spriteSize</key>
			<string>{137, 134}</string>
			<key>spriteSourceSize</key>
			<string>{137, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 0}, {137, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>piranha9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 62}, {111, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -31}</string>
			<key>spriteSize</key>
			<string>{111, 102}</string>
			<key>spriteSourceSize</key>
			<string>{137, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{139, 0}, {111, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>piranha</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>piranha_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>piranha_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>