<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>zombie_hand0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{104, 242}, {46, 14}}</string>
			<key>spriteOffset</key>
			<string>{-1, -121}</string>
			<key>spriteSize</key>
			<string>{46, 14}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{896, 476}, {46, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 208}, {138, 48}}</string>
			<key>spriteOffset</key>
			<string>{-12, -104}</string>
			<key>spriteSize</key>
			<string>{138, 48}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 714}, {138, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 64}, {228, 236}}</string>
			<key>spriteOffset</key>
			<string>{-1, -32}</string>
			<key>spriteSize</key>
			<string>{228, 236}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 476}, {228, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 64}, {228, 236}}</string>
			<key>spriteOffset</key>
			<string>{-1, -32}</string>
			<key>spriteSize</key>
			<string>{228, 236}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 238}, {228, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 64}, {228, 236}}</string>
			<key>spriteOffset</key>
			<string>{-1, -32}</string>
			<key>spriteSize</key>
			<string>{228, 236}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 0}, {228, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 64}, {228, 236}}</string>
			<key>spriteOffset</key>
			<string>{-1, -32}</string>
			<key>spriteSize</key>
			<string>{228, 236}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 0}, {228, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 64}, {228, 236}}</string>
			<key>spriteOffset</key>
			<string>{-1, -32}</string>
			<key>spriteSize</key>
			<string>{228, 236}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 238}, {228, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 64}, {228, 236}}</string>
			<key>spriteOffset</key>
			<string>{-1, -32}</string>
			<key>spriteSize</key>
			<string>{228, 236}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 476}, {228, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 158}, {200, 98}}</string>
			<key>spriteOffset</key>
			<string>{11, -79}</string>
			<key>spriteSize</key>
			<string>{200, 98}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 602}, {200, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 118}, {204, 138}}</string>
			<key>spriteOffset</key>
			<string>{3, -59}</string>
			<key>spriteSize</key>
			<string>{204, 138}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 462}, {204, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 72}, {198, 184}}</string>
			<key>spriteOffset</key>
			<string>{15, -36}</string>
			<key>spriteSize</key>
			<string>{198, 184}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 702}, {198, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 36}, {210, 220}}</string>
			<key>spriteOffset</key>
			<string>{6, -18}</string>
			<key>spriteSize</key>
			<string>{210, 220}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 240}, {210, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 18}, {222, 238}}</string>
			<key>spriteOffset</key>
			<string>{1, -9}</string>
			<key>spriteSize</key>
			<string>{222, 238}</string>
			<key>spriteSourceSize</key>
			<string>{256, 256}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {222, 238}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 64}, {228, 236}}</string>
			<key>spriteOffset</key>
			<string>{-1, -32}</string>
			<key>spriteSize</key>
			<string>{228, 236}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 0}, {228, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 64}, {228, 236}}</string>
			<key>spriteOffset</key>
			<string>{-1, -32}</string>
			<key>spriteSize</key>
			<string>{228, 236}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 476}, {228, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>zombie_hand9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 64}, {228, 236}}</string>
			<key>spriteOffset</key>
			<string>{-1, -32}</string>
			<key>spriteSize</key>
			<string>{228, 236}</string>
			<key>spriteSourceSize</key>
			<string>{300, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 238}, {228, 236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>zombie_hand</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>zombie_hand_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>zombie_hand_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>