<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>btn_play_scale0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 21}, {303, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{303, 97}</string>
			<key>spriteSourceSize</key>
			<string>{433, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 651}, {303, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_scale1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 17}, {325, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{325, 105}</string>
			<key>spriteSourceSize</key>
			<string>{433, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{349, 538}, {325, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_scale10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 14}, {347, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{347, 111}</string>
			<key>spriteSourceSize</key>
			<string>{433, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 538}, {347, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_scale11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 17}, {325, 105}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{325, 105}</string>
			<key>spriteSourceSize</key>
			<string>{433, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{349, 645}, {325, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_scale12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 21}, {303, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{303, 97}</string>
			<key>spriteSourceSize</key>
			<string>{433, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 750}, {303, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_scale2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 14}, {347, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{347, 111}</string>
			<key>spriteSourceSize</key>
			<string>{433, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{413, 262}, {347, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_scale3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 10}, {369, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{369, 119}</string>
			<key>spriteSourceSize</key>
			<string>{433, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{435, 0}, {369, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_scale4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 7}, {391, 125}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{391, 125}</string>
			<key>spriteSourceSize</key>
			<string>{433, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{393, 411}, {391, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_scale5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {411, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{411, 133}</string>
			<key>spriteSourceSize</key>
			<string>{433, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 276}, {411, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_scale6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {433, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{433, 139}</string>
			<key>spriteSourceSize</key>
			<string>{433, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {433, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_scale7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 3}, {411, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{411, 133}</string>
			<key>spriteSourceSize</key>
			<string>{433, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 141}, {411, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_scale8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 7}, {391, 125}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{391, 125}</string>
			<key>spriteSourceSize</key>
			<string>{433, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 411}, {391, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_scale9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 10}, {369, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{369, 119}</string>
			<key>spriteSourceSize</key>
			<string>{433, 139}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{413, 141}, {369, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>btn_play_scale</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>btn_play_scale_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>btn_play_scale_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>