<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>btn_play_rot0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 46}, {303, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{303, 97}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{610, 230}, {303, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 37}, {303, 113}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{303, 113}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{610, 115}, {303, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 22}, {299, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{299, 147}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 329}, {299, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 15}, {291, 161}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{291, 161}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{291, 514}, {291, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 22}, {299, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{299, 147}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 365}, {299, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 30}, {303, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{303, 131}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {303, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 46}, {303, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{303, 97}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 133}, {303, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 28}, {301, 131}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{301, 131}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 232}, {301, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 19}, {297, 147}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{297, 147}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 478}, {297, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 11}, {289, 163}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{289, 163}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 627}, {289, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 19}, {297, 147}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{297, 147}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{301, 365}, {297, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 28}, {301, 131}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{301, 131}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 232}, {301, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 37}, {303, 113}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{303, 113}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{610, 0}, {303, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 46}, {303, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{303, 97}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 133}, {303, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play_rot9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 30}, {303, 131}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{303, 131}</string>
			<key>spriteSourceSize</key>
			<string>{433, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 0}, {303, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>btn_play_rot</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>btn_play_rot_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>btn_play_rot_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>