<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>btn_play0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 230}, {434, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 140}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1452, 388}, {434, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 212}, {446, 158}}</string>
			<key>spriteOffset</key>
			<string>{6, 9}</string>
			<key>spriteSize</key>
			<string>{446, 158}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1004, 388}, {446, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 268}, {508, 164}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{508, 164}</string>
			<key>spriteSourceSize</key>
			<string>{700, 700}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 970}, {508, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{101, 287}, {544, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{544, 176}</string>
			<key>spriteSourceSize</key>
			<string>{750, 750}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 558}, {544, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 306}, {582, 188}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{582, 188}</string>
			<key>spriteSourceSize</key>
			<string>{800, 800}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 190}, {582, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{107, 306}, {582, 188}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{582, 188}</string>
			<key>spriteSourceSize</key>
			<string>{800, 800}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {582, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{101, 287}, {544, 176}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{544, 176}</string>
			<key>spriteSourceSize</key>
			<string>{750, 750}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 380}, {544, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 268}, {508, 164}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{508, 164}</string>
			<key>spriteSourceSize</key>
			<string>{700, 700}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{930, 736}, {508, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 249}, {470, 152}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{470, 152}</string>
			<key>spriteSourceSize</key>
			<string>{650, 650}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1020, 234}, {470, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 187}, {456, 192}}</string>
			<key>spriteOffset</key>
			<string>{12, 17}</string>
			<key>spriteSize</key>
			<string>{456, 192}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 852}, {456, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{87, 161}, {470, 232}}</string>
			<key>spriteOffset</key>
			<string>{22, 23}</string>
			<key>spriteSize</key>
			<string>{470, 232}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 736}, {470, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 138}, {456, 276}}</string>
			<key>spriteOffset</key>
			<string>{22, 24}</string>
			<key>spriteSize</key>
			<string>{456, 276}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 380}, {456, 276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{87, 161}, {470, 232}}</string>
			<key>spriteOffset</key>
			<string>{22, 23}</string>
			<key>spriteSize</key>
			<string>{470, 232}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{584, 0}, {470, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 187}, {456, 192}}</string>
			<key>spriteOffset</key>
			<string>{12, 17}</string>
			<key>spriteSize</key>
			<string>{456, 192}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 658}, {456, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 212}, {446, 158}}</string>
			<key>spriteOffset</key>
			<string>{6, 9}</string>
			<key>spriteSize</key>
			<string>{446, 158}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 0}, {446, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 230}, {434, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{434, 140}</string>
			<key>spriteSourceSize</key>
			<string>{600, 600}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{584, 234}, {434, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>btn_play9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 249}, {470, 152}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{470, 152}</string>
			<key>spriteSourceSize</key>
			<string>{650, 650}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1004, 548}, {470, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>btn_play</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>btn_play_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>btn_play_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>